body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #704933;
    color: #2c1a14;
}

header {
    background: #704933;
    padding: 20px;
    height: 70px;
    position: relative;
}

.logo {
    float: left;
}

.logo img {
    height: 120px;
}

.menu {
    text-align: center;
    margin-top: 15px;
}

.menu a {
    display: inline-block;
    margin: 0 15px;
    text-decoration: none;
    color: #2c1a14;
    font-weight: 600;
}

a {
    text-decoration: none;   /* remove o sublinhado */
    color: inherit;          /* herda a cor do elemento pai */
}

a:hover {
    opacity: 0.8;
}

.search-box {
    position: absolute;
    top: 25px;
    right: 20px;
    display: line-height;
    align-items: center;
}

.search-text {
    height: 32px;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    outline: none;
    background: #f0e6e1;
    width: 0px;
    transition: 0.4s;
    opacity: 0;
}

.search-box:hover .search-text {
    width: 150px;
    opacity: 1;
}

.search-btn {
    position: relative;
    width: 26px;
    height: 26px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}

.search-btn img {
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;
    transition: opacity 0.3s ease;
}

.loope-brown {
    opacity: 1;
}

.loope-white {
    opacity: 0;
}

.search-btn:hover .loope-brown {
    opacity: 0;
}

.search-btn:hover .loope-white {
    opacity: 1;
}

.loop_brown{
    width: 10px;
}

.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #fff;
}

.banner-text p {
    letter-spacing: 3px;
    font-size: 22px;
}

.banner-text h1 {
    font-size: 60px;
    letter-spacing: 10px;
}

.banner-text button {
    padding: 10px 30px;
    border-radius: 30px;
    border: 2px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.top-categories {
    text-align: center;
    padding: 40px 0;
}

.top-categories h2 {
    letter-spacing: 5px;
}

.card {
    display: inline-block;
    width: 220px;
    margin: 15px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.card h3 {
    padding: 10px;
}

footer {
    background: #4d2f26;
    color: white;
    padding: 40px;
    text-align: left;
}

.footer-column {
    display: inline-block;
    width: 200px;
    vertical-align: top;
}

.footer-column h4 {
    margin-bottom: 10px;
}

.footer-column p {
    margin: 5px 0;
}
